body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 60vh;
    flex-grow: 0;
}

.left{
    flex: 0 1 35%;
    display: flex;
}

.left img{
    width: 100%;
    height: 100%;
}

.bgimg{
    position: relative;
    width: 100%;
    margin-left: -470px;
}

.logo{
    width: 100%;
    height: 200px;
    align-self: center;
    color: white;
    background-color: green;
    position: relative;
    z-index: 1;
    text-align: center;
}


.right{
    flex: 0 1 65%;
    background-color: whitesmoke;
}

.copy{
    margin-top: 150px;
    padding-left: 50px;
    padding-right: 100px;
    font-size: 20px;
    font-weight: bolder;
}

.form{
    background-color: white;
    padding: 12px;
    padding-left: 50px;
    margin-bottom: 48px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.formcontent{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content:baseline;
    margin-bottom: 12px;
}

input, label{
    display: block;
}


.combo label{
    font-size: 12px;
}

input{
    width: 250px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 6px;
}

input:focus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:invalid{
    border: 1px solid red;
}

.next{
    padding-left: 50px;
    margin-bottom: 200px;
}

.create{
    width: 200px;
    padding: 12px;;
    background-color: darkblue;
    border: 0px;
    color: white;
}

.next a{
    text-decoration: none;
    color: darkblue
}

.next a:hover{
    text-decoration: underline;
}